{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}
<div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="messages m-3">
        {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    <form method="post" class="col-6 card p-4 m-4">
        {% csrf_token %}
        {% for field in form %}
            <div class='mb-3'>
                <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
                {{field}}
            </div>
        {% endfor %}
        <span class="mb-2">Don't have Account!<a href="{% url 'accounts:register_page' %}">Register</a></span>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock body %}
